name: Test Build

on:
  push:
    branches:
      - '**'
    tags:
      - '*'
  pull_request:
    paths:
      - 'src/**'

jobs:
  run_tests:
    runs-on: ubuntu-latest

    container:
      image: python:3.11.8-slim-bookworm

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Update apt and install dependencies
      run: |
        apt update
        pip install -r requirements.txt
        pip install -r requirements-qa.txt
        pip install pysigma-backend-splunk>=1.1.0
        pip install pysigma-backend-kusto>=1.0.0

    - name: Run tests
      run: |
        export PYTHONPATH=$PYTHONPATH:./src/. && pytest --open-files --random-order

